.navbar {background-color: gray; margin-bottom: 0;} 
.navbar-nav {background-color: transparent; margin-bottom: 0px; font-size: 16px;}
.navbar-default .navbar-brand {color: black}
.navbar-default .navbar-toggle .icon-bar { background-color: black;}
.menuCaption {background-color:transparent;}
.menuOneContainer p, .menuOneCaption h2 {padding: 10px; background-color: gray; margin-bottom: 0;}
h1 {margin: 10px 0 20px 0;}
@media screen and (max-width: 767px) {
    .menuOneContainer p, .menuOneCaption h2 {padding: 5%; background-color: gray; margin: 0; margin: 0 15% 0 15%;}
}